apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
images:
  - name: ghcr.io/placeholder/finshare-transfer
    newName: ghcr.io/placeholder/finshare-transfer
    newTag: latest
